# Terraform state & local config
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfstate.lock.info

# Ansible
**/inventory.ini
*.retry
*.log/
**/tmp/

# Editor/backup files
*.swp
*.bak

# IDE
**/.idea/
