[k8s_master]
master-node ansible_host=192.168.1.101

[k8s_workers]
worker-node1 ansible_host=192.168.1.102
worker-node2 ansible_host=192.168.1.103

[k8s_nodes:children]
k8s_master
k8s_workers

[k8s_nodes:vars]
ansible_become=true
ansible_user=ubuntu
k8s_admin_user=ubuntu